
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
    </title>
</head>
<body>
    <center>
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td style="background-color: #FCD4AA; padding: 20px 40px 20px 40px;">
                    <table cellspacing="0" cellpadding="0" border="0" style="width:615px; background-color: #FFFFFF; border:solid; border-color: #0E46A7">
                        <!--#0E46A7   FFBF00-->
                        <tr>
                            <td>
                                <!--<8fc635>-->
                                <table cellspacing="0" cellpadding="0">
                                    
                                    <tr>
                                        <td>
                                            <table style="width: 595px; background-color: #0E46A7; font-family: Arial; font-size: 10px; padding: 10px 0 10px 0; color: #6f6f6f; float: left">
                                                <tr>
                                                    <td>
                                                        <img width="595" src="https://petsocietyphotos.blob.core.windows.net/animalphotos/Logo7.png" style="display: block; padding-right:10px; padding-left:10px;" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="width:100%; color: #backcolor; background-color: #backcolor; height: 3px; margin: 0 0 0 0;"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="line-height:10px; font-size:10px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 0 0 7px;">
                                            <table cellspacing="0">
                                                <tr>
                                                    <td valign="top" style="padding-right:20px; font-family: Arial; font-size: 12px;">
                                                        <div style="font-size: 14px; font-family: Segoe Print, sans-serif;"><b>Hi #Name</b></div>
                                                        <div style="text-align: justify ;">
                                                            <br />
                                                           We wish to invite you to become part of PetSociety, a South African innitiative that has the following goals.
                                                            <ul>
                                                                <li>A place where you can store information, especially photos, of your pets.</li>
                                                                <li>Share any info you want with other people.</li>
                                                                <li>Get the community involved when your pet goes missing. We do all the hard work for you.</li>
                                                                <li>When you see a lost do inform us and we will try and locate it's owner.</li>
                                                            </ul>
                                                        </div>
                                                      
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:5px;">&nbsp;</td>
                                    </tr>
                                </table>

                                <!----------End of top part now icons--------------->
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" width="615">
                                    <tr>
                                        <td style="font-size:10px; background: #FFFFFF">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table style="width: 100%; background-color: #0E46A7; font-family: Arial; font-size: 10px; padding: 10px 0 10px 0; color: #6f6f6f; float: left">
                                    <tr>

                                        <td style="padding-left:180px; padding-right:9px;">
                                            <a href="https://www.ecare4me.com/Unsubscribe/Unsubscribe.aspx?c=#clientid&langid=1" style="color:#fff; text-decoration:none; font-weight: bold;">Unsubscribe</a>
                                        </td>
                                        <td style="padding-left:8px; padding-right:7px;">
                                            <a href="http://www.facebook.com/pages/eCare4me/409483959121837?ref=ts&fref=ts"><img src="https://petsocietyphotos.blob.core.windows.net/animalphotos/facebookwhite.png" width="20"/></a>
                                        </td>
                                        <td style="padding-left:7px; padding-right:7px;">
                                            <a href="https://twitter.com/petsocietysa"><img src="https://petsocietyphotos.blob.core.windows.net/animalphotos/twitterwhite.png" width="20" /></a>
                                        </td>
                                        <td style="padding-left:7px; padding-right:200px;">
                                            <a href="mailto:qa@healthinsite.net" style="color:#fff; text-decoration:none; font-weight: bold;">Support</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>

                </td>
            </tr>
        </table>
    </center>
</body>
</html>